* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.container {
    width: 1400px;
    margin: 0 auto;
    padding-block: 50px;

    form {
        display: flex;
        flex-direction: row;
        gap: 20px;
        display: flex;

        label {
            display: flex;
            flex-direction: column;
            gap: 3px;
            font-size: 20px;
            font-weight: bold;

            input {
                width: 350px;
                height: 50px;
                border: 1px solid #c4c4c4;
                border-radius: 6px;
                background: #e6fbff;
                padding-inline: 20px;
            }

            button {
                width: 120px;
                height: 50px;
                background: blue;
                color: white;
                border-radius: 6px;
                font-size: 18px;
                font-weight: bolder;
                text-transform: uppercase;
                border: 2px solid blue;
                transition: transform 0.2s ease, background-color 0.2s ease, border 0.2s ease, color 0.2s ease;

                &:hover {
                    transform: scale(1.05);
                    background-color: white;
                    color: blue;
                }

                &:active {
                    transform: scale(1.00);
                    color: white;
                    background-color: blue;
                }
            }

            &:last-child {
                color: transparent;
            }
        }
    }

    .top_elements {
        margin-top: 50px;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #c4c4c4;
        display: flex;
        flex-direction: row;
        font-size: 18px;
        color: #989898;
        align-items: center;
        font-weight: bold;

        .top_num {
            width: 10%;
        }

        .top_name {
            width: 50%;
        }

        .top_year {
            width: 30%;
        }

        .top_btns {
            width: 10%;
        }

    }

    .elements {
        width: 100%;

        .el {
            width: 100%;
            height: 50px;
            border-bottom: 1px solid #c4c4c4;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 18px;
            font-weight: bold;
            opacity: 0;
            transform: translateY(20px);
            transition: all 0.5s ease;
            text-transform: capitalize;

            .num {
                width: 10%;
            }

            .name {
                width: 50%;
            }

            .year {
                width: 30%;
            }

            .btns {
                width: 10%;
                display: flex;
                flex-direction: row;
                gap: 15px;

                button {
                    width: fit-content;
                    transition: all 0.2s ease;

                    &:hover {
                        transform: scale(1.2);
                        transition: 0.2s;
                    }

                    &:active {
                        transform: scale(1.00);
                        transition: 0.2s;
                    }

                    img {
                        width: 25px;
                    }
                }
            }

            &.animate {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

#modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.474);
    backdrop-filter: blur(5px);

    #content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        height: 130px;
        width: fit-content;
        padding-inline: 20px;
        background-color: #e6fbff;
        border: 5px solid blue;
        border-radius: 10px;
        color: blue;
        font-size: 25px;
        font-weight: bold;

        button {
            width: 100%;
            height: 30%;
            background-color: blue;
            color: #e6fbff;
            border-radius: 4px;
            font-size: 20px;
            font-weight: bold;
            transition: transform 0.2s ease, background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
            border: 2px solid blue;

            &:hover {
                transform: scale(1.05);
                background-color: #e6fbff;
                color: blue;
            }

            &:active {
                transform: scale(1.00);
                color: #e6fbff;
                background-color: blue;
            }
        }
    }
}